{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
                <div class="main-front-container">
                    <div class="hero-caption">
                        <div class="hero-text">
                            <h6 class="m-b-30">COMMUNITY-DRIVEN</h6>
                            <h1 class="m-b-30">XDB PRICE CHAT</h1>
                            <h6 class="m-b-60">WELCOME TO THE <b style="font-size: large;">*UNOFFICIAL*</b> XDB PRICE CHAT WEBSITE</h6>
                            <a class="btn btn-dark anim-scroll"
                                href="https://t.me/DigitalBitsPriceChat" target="_blank" title="TELEGRAM">TELEGRAM
                            </a>
                            
                            <a class="btn btn-dark anim-scroll"
                                href="#" target="" title="GIVEAWAY LEADERBOARD">GIVEAWAY LEADERBOARD
                            </a>
                        </div>
                    </div>
                </div>

{% endblock content %}