.filter-section {
    padding: 70px 15px;

    .load-more {
        margin-top: 70px;
        text-align: center;
    }

    .filters-btn {
        display: flex;
        justify-content: center;
        margin: 0 0 70px;
        flex-wrap: wrap;

        li {
            list-style: none;
            margin: 10px 10px 0 0;
        }
        a {
            border: 2px solid transparent;
            font-weight: 700;
            font-size: 11px;
            color: #111;
            padding: 5px 15px;
            background-color: transparent;

            &.is-checked {
                background: #111;
                color: #fff;
                border-color: #111;
            }
        }
    }

    .portfolio-grid {
        display: grid;
        margin-left: -8px;
        margin-right: -8px;
        padding: 8px 0;
        grid-template-columns: repeat(1, 1fr);
        // height: auto !important;

        @media(min-width:768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width:1201px) {
            grid-template-columns: repeat(4, 1fr);

        }

        article {
            padding: 8px 8px;
            // position: static !important;
            width: 100%;

            @media(min-width:768px) {
                width: 50%;
            }
    
            @media(min-width:1201px) {
                width: 25%;
    
            }

            .work-wrapper {
                position: relative;
            }

            .work-caption {
                position: absolute;
                top: 50%;
                width: 100%;
                padding: 0 20px;
                text-align: center;
                z-index: 1;
                opacity: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transition-delay: .2s;
                -moz-transition-delay: .2s;
                -o-transition-delay: .2s;
                transition-delay: .2s;

                .work-title {
                    letter-spacing: 4px;
                    font-weight: 700;
                    font-size: 13px;
                    color: #111;
                    opacity: 0;
                    margin: 0 0 15px;
                    -webkit-transform: translateY(10px);
                    -moz-transform: translateY(10px);
                    -o-transform: translateY(10px);
                    transform: translateY(10px);
                    -webkit-transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    -moz-transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    -o-transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                }

                .work-category {
                    font-style: italic;
                    font-weight: 400;
                    font-size: 12px;
                    opacity: 0;
                    margin: 0;
                    -webkit-transform: translateY(-10px);
                    -moz-transform: translateY(-10px);
                    -o-transform: translateY(-10px);
                    transform: translateY(-10px);
                    -webkit-transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    -moz-transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    -o-transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    transition: .3s cubic-bezier(.215, .61, .355, 1) 0s;
                    color: #111;
                    font-family: Georgia, sans-serif;
                }
            }

            .work-thumbnail {
                height: 223.35px;
                position: relative;
                width: 98%;

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
                    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
                    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
                    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                
            }

            &:hover {
                .work-thumbnail {
                    &::after {
                        background: rgba(255, 255, 255, 0.8);
                    }
                }

                .work-caption {
                    opacity: 1;
                }

                .work-title,
                .work-category{
                    transition-delay: .2s;
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -o-transform: translateY(0);
                    transform: translateY(0)
                }

                .work-category {
                    transition-delay: .3s;
                }
            }
        }
    }
}